---

// import '@fontsource-variable/epilogue';
import '@fontsource-variable/commissioner';
import '@fontsource/montserrat-alternates';

import '../styles/global.css'


const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Social Media Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={new URL("/avatar.png", Astro.url)} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL("/avatar.png", Astro.url)} />

    <title>{title}</title>
  </head>
  <body class="font-sans antialiased">
    <slot />
  </body>
</html>
